@model Myprojects.DTO.UserLoginInfo
@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Praveen</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="form">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <h3>Login Here</h3>

            <label for="username">Username</label>
            @Html.TextBoxFor(m => m.Username, new { @type = "text", @placeholder = "User Name", @id = "username" })
            @*<input type="text" placeholder="Email or Phone" id="username">*@

            <label for="password">Password</label>
            @Html.TextBoxFor(m => m.Password, new { @type = "text", @placeholder = "Password", @id = "password" })
            @*<input type="password" placeholder="Password" id="password">*@

            <button type="submit">Log In</button>
            <div class="social">
                <div class="go"><i class="fab fa-google"></i>  Google</div>
                <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
            </div>
        }
    </div>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
</body>
</html>